{% extends "index_centre.html" %}

{% block title %}Llistat professorat{% endblock %}

{% block content %}
<h2>INFORMACIO ALUMNES TIC BARCELONA</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>COGNOM</th>
        <th>CORREU</th>
        <th>CURS</th>
        <th>MODULS</th>
    </tr>
    {% for alumn in alumne %}
    <tr>
        <td>{{ alumn.id }}</td>
        <td>{{ alumn.nom }}</td>
        <td>{{ alumn.cognom }}</td>
        <td>{{ alumn.correu }}</td>
        <td>{{ alumn.curs }}</td>
        <td>{{ alumn.modul }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}