{% extends "index_centre.html" %}

{% block title %}Alumne{% endblock %}

{% block content %}
<h2>INFORMACIO ALUMNES TIC BARCELONA</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Cognom</th>
    </tr>
    {% for alumn in alumne %}
    <tr>
        <td>{{ alumn.id }}</td>
        <td>{{ alumn.nom }}</td>
        <td>{{ alumn.cognom }}</td>
        <td><a href="{% url 'student' alumn.id %}">+ INFO</a></td>
        <td><a href="{% url 'update_person' alumn.id %}">UPDATE</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}