{% extends "index_centre.html" %}

{% block title %}Llistat professorat{% endblock %}

{% block content %}
<h2>INFORMACIO ALUMNE TIC BARCELONA</h2>
<table>
    <tr>
        <th>ID</th>
        <th>NOM</th>
        <th>COGNOM</th>
        <th>EDAT</th>
        <th>CORREU</th>
        <th>MODULS</th>
    </tr>
    <tr>
        <td>{{ alumne.id }}</td>
        <td>{{ alumne.nom }}</td>
        <td>{{ alumne.cognom }}</td>
        <td>{{ alumne.edat }}</td>
        <td>{{ alumne.correu }}</td>
        <td>{{ alumne.moduls }}</td>
    </tr>
</table>
<a href="{% url 'students' %}">Go Back</a>
{% endblock %}
