{% extends "index_centre.html" %}

{% block title %}Llistat professorat{% endblock %}

{% block content %}
<h2>INFORMACIO PROFESSORAT TIC BARCELONA</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        {% for prof in professor %}
            <tr>
                <td>{{ prof.id }}</td>
                <td>{{ prof.nom }}</td>
                <td>{{ prof.cognom }}</td>
                <td><a href="{% url 'teacher' prof.id %}">+ INFO</a></td>
                <td><a href="{% url 'update_person' prof.id %}">UPDATE</a></td>
                <td><a href="{%url 'delete_person' prof.id %}">DELETE</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}